<div class="img">
  <img alt={{title}} src={{image}}>
</div>
<div class="name">
  <span>{{title}}</span>
</div>
<div class="seller-and-price">
  <span class="seller">{{store}}</span>
  <span class="price">$ {{price}} USD</span>
</div>
